
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model CreateOfferDiscountDto

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>İndirim Teklifi Ekleme Sayfası</h4>
                <p>İndirim teklifi ile ilgili ekleme işlemlerinizi aşağıdaki panel üzerinden gerçekleştirebilirsiniz.</p>
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <label>İndirim Teklif Başlığı</label>
                        <input type="text" asp-for="Title" class="form-control" />
                        <br />
                        <label>İndirim Teklif Alt Başlığı</label>
                        <input type="text" asp-for="SubTitle" class="form-control" />
                        <br />
                        <label>İndirim Teklif Görseli</label>
                        <input type="text" asp-for="ImageUrl" class="form-control" />
                        <br />
                        <button class="btn btn-primary">İndirim teklifi ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

