
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model UpdateOfferDiscountDto
<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>İndirim Güncelleme Sayfası</h4>
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <label>İndirim Id</label>
                        <input type="text" asp-for="Id" readonly class="form-control" />
                        <br />
                        <label>İndirim Teklif Başlığı</label>
                        <input type="text" asp-for="Title" class="form-control" />
                        <br />
                        <label>İndirim Teklif Alt Başlığı</label>
                        <input type="text" asp-for="SubTitle" class="form-control" />
                        <br />
                        <label>İndirim Görsel</label>
                        <input type="text" asp-for="ImageUrl" class="form-control" />
                        <br />
                        <button class="btn btn-primary">İndirim teklif güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
