@model CreateProductDto
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Ürün Ekleme Sayfası</h4>
                <p>Ürün ile ilgili ekleme işlemlerinizi aşağıdaki panel üzerinden gerçekleştirebilirsiniz.</p>
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <label>Ürün Adı</label>
                        <input type="text" asp-for="Name" class="form-control" />
                        <br />
                        <label>Ürün Fiyatı</label>
                        <input type="number" asp-for="Price" class="form-control" />
                        <br />
                        <label>Ürün Görseli</label>
                        <input type="text" asp-for="ImageUrl" class="form-control" />
                        <br />
                        <label>Kategori</label>
                        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.CategoryList,new{@class="form-control"})
                        <br />
                        <button class="btn btn-primary">Ürün ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

