@model UpdateProductDto
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Ürün Güncelleme Sayfası</h4>
                <p>Ürün ile ilgili güncelleme işlemlerinizi aşağıdaki panel üzerinden gerçekleştirebilirsiniz.</p>
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <label>Ürün Id</label>
                        <input type="hidden" asp-for="Id" class="form-control" />
                        <br />
                        <label>Ürün Adı</label>
                        <input type="text" asp-for="Name" class="form-control"/>
                        <br/>
                        <label>Ürün Fiyatı</label>
                        <input type="number" asp-for="Price" class="form-control"/>
                        <br/>
                        <label>Ürün Görseli</label>
                        <input type="text" asp-for="ImageUrl" class="form-control"/>
                        <br/>
                        <label>Ürün Açıklama</label>
                        <textarea asp-for="Description" rows="5" class="form-control"></textarea>
                        <br/>
                        <label>Kategori</label>
                        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.CategoryList, new { @class = "form-control" })
                        <br/>
                        <button class="btn btn-primary">Ürün güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

