@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@using MultiShop.DtoLayer.CatalogDtos.CategoryDtos
@model CreateCategoryDto
<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Kategori Ekleme Sayfası</h4>
                <p>Kategori ile ilgili ekleme işlemlerinizi aşağıdaki panel üzerinden gerçekleştirebilirsiniz.</p>
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <label>Kategori Adı</label>
                        <input type="text" asp-for="Name" class="form-control" />
                        <br/>
                        <label>Kategori Görsel</label>
                        <input type="text" asp-for="ImageUrl" class="form-control" />
                        <br />
                        <button class="btn btn-primary">Kategori ekle</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>

