@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@using MultiShop.DtoLayer.CatalogDtos.CategoryDtos
@model List<ResultCategoryDto>

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Kategori Listesi</h4>
                <p>Kategori ile ilgili işlemlerinizi aşağıdaki tablo üzerinden gerçekleştirebilirsiniz.</p>
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Kategori Adı</th>
                            <th>Ürünler</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@item.Id</th>
                                <td>@item.Name</td>
                                <td><a href="#" class="btn btn-warning">Ürünler</a></td>
                                <td><a href="#" class="btn btn-danger">Sil</a></td>
                                <td><a href="#" class="btn btn-info">Güncelle</a></td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <a href="#" class="btn btn-success">Kategori ekle</a>
                </div>
            </div>
        </div>

    </div>
</section>


