
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model List<ResultFeatureDto>
@{
    int count = 0;
}
<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Öne Çıkan Alan Listesi</h4>
                <p>Öne Çıkan Alan ile ilgili işlemlerinizi aşağıdaki tablo üzerinden gerçekleştirebilirsiniz.</p>
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Öne Çıkan Alan Adı</th>
                            <th>Görsel</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <th scope="row">@count</th>
                                <td>@item.Title</td>
                                <td>@item.Icon</td>
                                <td><a href="/Admin/Feature/Delete/@item.Id" class="btn btn-danger">Sil</a></td>
                                <td><a href="/Admin/Feature/Update/@item.Id" class="btn btn-info">Güncelle</a></td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <a href="/Admin/Feature/Create/" class="btn btn-success">Öne çıkan alan ekle</a>
                </div>
            </div>
        </div>

    </div>
</section>

